.canvasSection{
    display: flex;
    flex-direction: column;

    padding: 3rem;

    justify-content: center;
    align-items: center; 

    max-width: 100%;

    border: 3px solid green;
}

.canvasDiv{
    display: inline-block;
    width: auto;
    height: auto;
}