*{
    list-style: none;
}

.page{
    display: flex;
    flex-direction: column;
}

.pageBody{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.pageBody-left{
    width: 100%;
}

.pageBody-right{
    display: flex;
    flex-direction: column;

    width: 100%;

    border: 3px solid blue;
}