.content{
    padding: 3rem;

    display: flex;
    flex-direction: column;

    justify-content: space-between;

    max-width: 100%;

    border: 3px solid red;
}

.element:has(> .components:has(> .selection-component:has(> .selected))){
    background-color: red;
}